<hr />
<h2>Control Flow</h2>
<h3>31. IF</h3>

<!-- Forma Nova 31. If -->
@if (isTrue) {
  Sim 1 é === 1
} @else if (1 === 1) {
  1 é === 1
} @else {
  Não está correto
}

<!-- Forma Antiga 31. If -->
 <ng-container *ngIf="isTrue; else isFalse">
  <p>Dener</p>
  <p>Maria</p>
 </ng-container>

 <ng-template #isFalse>
   <p>Não está correto</p>
 </ng-template>

<hr />
<h2>Control Flow</h2>
<h3>32. FOR</h3>

<!-- Forma Nova 32. IF e For -->
@if (loadingData$ | async; as data) {
  <ul>
    @for (item of data; track item) {
      <li>{{ item }}</li>
    }
  </ul>
} @else {
  <p>Carregando...</p>
}

<!-- Forma Nova 32. For-->
<ul>
  @for(item of loadingData$ | async; track item) {
    <li>{{ item }}</li>
  }
</ul>

<!-- Forma Antiga 32. If e For -->
<ng-container *ngIf="loadingData$ | async as data; else loading">
  <ul>
    <ng-container *ngFor="let item of data; trackBy: trackByFn">
      <li>{{ item }}</li>
    </ng-container>
  </ul>
</ng-container>

<ng-template #loading>
  <p>Carregando...</p>
</ng-template>

<hr />
<h2>Control Flow</h2>
<h3>33. FOR e seus valores</h3>

<!-- Nova forma 33. For e seus valores -->
@for (
  item of itens; track item.name;
  let i = $index;
  let c = $count;
  let f = $first;
  let l = $last;
  let e = $even;
  let o = $odd;
) {
  <p>{{ item.name }}</p>
  <p>Index: {{ i }}</p>
  <p>Count: {{ c }}</p>
  <p>First: {{ f }}</p>
  <p>Last: {{ l }}</p>
  <p>Even: {{ e }}</p>
  <p>Odd: {{ o }}</p>
  <br />
}

<hr />

<!-- Forma antiga 33. For e seus valores -->
<ng-container
  *ngFor="
    let item of itens;
    let i = index;
    let c = count;
    let f = first;
    let l = last;
    let e = even;
    let o = odd;
    trackBy: trackByFn;
  "
>
  <p>{{ item.name }}</p>
  <p>Index: {{ i }}</p>
  <p>Count: {{ c }}</p>
  <p>First: {{ f }}</p>
  <p>Last: {{ l }}</p>
  <p>Even: {{ e }}</p>
  <p>Odd: {{ o }}</p>
  <br />
</ng-container>

<input #name type="text"/>
<button (click)="addNewName(name.value)">Add Name</button>

<hr />
<h2>Control Flow</h2>
<h3>34. FOR e empty</h3>

<!-- Forma nova 34. For - @empty -->
<ul>
  @for (item of itens; track item.name) {
    <li>{{ item.name }}</li>
  } @empty {
    <li>Não contém valores.</li>
  }
</ul>

<!-- Forma antiga 34. For - @empty -->
<ul>
  <ng-container *ngIf="itens.length === 0; else itensExist">
    <li>Não contém valores.</li>
  </ng-container>

  <ng-template #itensExist>
    <ng-container *ngFor="let item of itens">
      <li>{{ item.name }}</li>
    </ng-container>
  </ng-template>
</ul>


<hr />
<h2>Control Flow</h2>
<h3>35. Switch</h3>

<!-- Forma nova 35. Switch -->
 @switch (switchCondition) {
  @case ('A') {
    <p>Sim, sua letra é: A</p>
  }
  @case ('B') {
    <p>Sim, sua letra é: B</p>
  }
  @default {
    <p>Os dados não foram encontrados.</p>
  }
 }

 <!-- Forma antiga 35. Switch -->
<ng-container [ngSwitch]="switchCondition">
  <ng-container *ngSwitchCase="'A'">
    <p>Sim, sua letra é: A</p>
  </ng-container>

  <ng-container *ngSwitchCase="'B'">
    <p>Sim, sua letra é: B</p>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <p>Os dados não foram encontrados.</p>
  </ng-container>
</ng-container>
